
/*Main CSS*/



a:focus,a:hover,a{
  outline:none;
  text-decoration: none;
  color:black;
  }
  li,ul{
  list-style: none;
  padding: 0;
  margin: 0;
  }
  .header-top i {
  font-size: 18px;
  }
  
  
  
  
  /*Home Page*/
  
  .home {
  background: teal;
  
  }
  
  #navigation {
  background: teal;
  }
  
  #navigation {
  padding: 0;
  }
  
  .display-table {
  display: table;
  padding: 0;
  height: 100%;
  width: 100%;
  }
  
  .display-table-row {
  display: table-row;
  height: 100%;
  }
  
  .display-table-cell {
  display: table-cell;
  float: none;
  height: 100%;
  }
  
  .v-align {
  vertical-align: top;
  }
  .logo img {
  max-width: 180px;
  padding: 16px 0 17px;
  width: 100%;
  
  border-style: solid;
  border-color: #FFC312;
  }
  
  .header-top {
  margin: 0;
  padding-top: 2px;
  }
  
  .header-top img {
  border-radius: 50%;
  max-width: 48px !important;
  width: 100%;
  }
  
  .add-project {
  background: teal none repeat scroll 0 0;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 27px 10px 45px;
  position: relative;
  }
  
  .header-rightside .nav > li > a:focus,
  .header-rightside .nav > li > a:hover {
  background: none;
  text-decoration: none;
  }
  
  .add-project::before {
  background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll 0 0;
  content: "";
  ;
  height: 12px;
  left: 17px;
  position: absolute;
  top: 12px;
  width: 12px;
  }
  
  .add-project:hover {
  color: #ffffff;
  }
  
  .header-top i {
  color: #0e1a35;
  }
  
  .icon-info {
  position: relative;
  }
  .navi i {
  font-size: 20px;
  }
  .label.label-primary {
  border-radius: 50%;
  font-size: 9px;
  left: 8px;
  position: absolute;
  top: -9px;
  }
  
  .icon-info .label {
  border: 2px solid #ffffff;
  font-weight: 500;
  padding: 3px 5px;
  text-align: center;
  }
  
  .header-top li {
  display: inline-block;
  text-align: center;
  }
  
  .header-top .dropdown-toggle {
  color: #0e1a35;
  }
  
  .header-top .dropdown-menu {
  border: medium none;
  left: -85px;
  padding: 17px;
  }
  .view {
  background: #5584ff none repeat scroll 0 0;
  border-radius: 100px;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px 15px;
  }
  
  .navbar-content > span {
  font-size: 13px;
  font-weight: 700;
  }
  
  .img-responsive {
  width: 100%;
  }
  #navigation{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  }
  
  
  header {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
  display: inline-block !important;
  line-height: 23px;
  padding: 15px;
  transition: all 0.5s ease 0s;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  }
  
  .logo {
  text-align: center;
  }
  
  .navi a {
  border-bottom: 1px solid #0d172e;
  border-top: 1px solid #0d172e;
  color: #ffffff;
  display: block;
  font-size: 17px;
  font-weight: 500;
  padding: 28px 20px;
  text-decoration: none;
  }
  
  .navi i {
  margin-right: 15px;
  color: #FFC312;
  }
  
  .navi .active a {
  background: #122143;
  border-left: 5px solid #5584ff;
  padding-left: 15px;
  }
  
  .navi a:hover {
  background: #122143 none repeat scroll 0 0;
  border-left: 5px solid #5584ff;
  display: block;
  padding-left: 15px;
  }
  
  .navbar-default {
  background-color: teal;
  border-color: #ffffff;
  }
  
  .navbar-toggle {
  border: none;
  }
  
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0);
  }
  
  .navbar-default .navbar-toggle .icon-bar {
  background-color: #0e1a35;
  }
  
  .circle-logo {
  margin: 0 auto;
  max-width: 30px !important;
  text-align: center;
  }
  .hidden-xs{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  }
  
  .user-dashboard {
  padding: 0 20px;
  }
  
  .user-dashboard h1 {
  color: #0e1a35;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding: 21px 0;
  }
  .sales {
  background: teal none repeat scroll 0 0;
  border: 1px solid #d4d9e3;
  display: inline-block;
  padding: 15px;
  width: 100%;
  }
  .sales button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #dadee7;
  border-radius: 100px;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding-right: 32px;
  color: #0e1a35;
  }
  
  .sales button::before {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 12px;
  top: 11px;
  }
  .sales  .btn-group {
  float: right;
  }
  .sales h2 {
  color: #8492af;
  float: left;
  font-size: 21px;
  font-weight: 600;
  margin: 0;
  padding: 9px 0 0;
  }
  .btn.btn-secondary.btn-lg.dropdown-toggle > span {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  }
  .sales .dropdown-menu{
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 8px;
  width: 100%;
  color: #0e1a35;
  }
  .sales .btn-group.open .dropdown-toggle, .btn.active, .btn:active{
  box-shadow: none;
  }
  .sales .dropdown-menu > a {
  color: #0e1a35;
  display: inline-block;
  font-weight: 800;
  padding: 9px 0;
  text-align: center;
  width: 100%;
  }
  #my-cool-chart svg {
  width: 100%;
  }
  .sales .dropdown-menu > a:hover{
  color: #5584FF;   
  }
  .shield-buttons {
  display: none;
  }
  .close, .close:focus, .close:hover {
  color: #fff;;
  opacity: 1;
  text-shadow: none;
  }
  .modal-body input {
  border: 1px solid #d4d9e3;
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
  padding: 14px 10px;
  width: 100%;
  color: #8492af;
  }
  .modal-body textarea {
  border: 1px solid #d4d9e3;
  font-size: 14px;
  font-weight: 300;
  height: 200px;
  margin-top: 5px;
  padding: 9px 10px;
  width: 100%;
  color: #8492af;
  }
  .modal-header.login-header h4 {
  color: #ffffff;
  }
  .modal-footer .add-project {
  background: #5584ff none repeat scroll 0 0;
  border: medium none;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  position: relative;
  }
  .modal-footer .add-project::before{display: none;}
  .modal-footer {
  border: 0 none;
  padding: 10px 15px 26px;
  text-align: right;
  }
  .cancel {
  background: teal    ;
  border: medium none;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  position: relative;
  
  }
  .modal{
  top: 20%; 
  }
  .modal-header .close {
  margin-top: 2px;
  }
  .search input:focus{
  border-bottom: 1px solid #BDC4D4;
  line-height:22px;
  transition: 0.1s all;
  }
  .modal-header.login-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*Main CSS*/
  
  }
  
  
  
  
  @media only screen and (max-device-width: 767px) {
  .login-logo img {
  margin: 0 auto;
  
  }
  .login-details .nav-tabs > li {
  text-align: center;
  width: 50%;
  }
  .login-signup .login-inner h1 {
  font-size: 26px;
  margin-bottom: 0;
  margin-top: 10px;
  }
  .login-inner .login-form input {
  font-size: 15px;
  max-width: 100%;
  padding: 15px 45px;
  }
  .login-inner .form-details {
  padding: 25px;
  }
  .login-inner .login-form label {
  margin-bottom: 20px;
  width: 100%;
  }
  .login-inner .form-btn {
  margin: 0;
  max-width: 180px;
  }
  .tab-content .tab-pane {
  padding: 20px 0;
  }
  #navigation .navi a {
  font-size: 14px;
  padding: 20px;
  text-align: center;
  }
  #navigation .navi i {
  margin-right: 0px;
  }
  #navigation .navi a:hover,
  #navigation .navi .active a {
  background: #122143 none repeat scroll 0 0;
  border-left: none;
  display: block;
  padding-left: 20px;
  }
  header .header-top img {
  max-width: 38px !important;
  }
  .v-align header {
  padding: 12px 15px;
  }
  header .header-top li {
  padding-left: 13px;
  padding-right: 6px;
  }
  .navbar-default .navbar-toggle {
  border-color: rgba(0, 0, 0, 0);
  }
  .navbar-header .navbar-toggle {
  float: left;
  margin: 0;
  padding: 0;
  top: 12px;
  }
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
      outline: medium none;
  }
  .user-dashboard .sales h2 {
  color: #8492af;
  float: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 13px 0 0;
  }
  .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
  font-size: 11px;
  }
  .user-dashboard .sales button {
  font-size: 11px;
  padding-right: 23px;
  }  
  .user-dashboard .sales h2 {
  font-size: 12px;
  }
  .gutter{
  padding: 0;
  }
  }
  
  @media only screen and (max-device-width: 992px) {
  header .header-top li {
  padding-left: 20px !important;
  padding-right: 0;
  }
  header .logo img {
  max-width: 125px !important;
  }
  
  }
  
  @media only screen and (min-device-width: 767px) and (max-device-width: 998px){
  .user-dashboard .header-top {
  padding-top: 5px;
  }
  .user-dashboard .header-rightside {
  display: inline-block;
  float:left;
  width: 100%;
  }
  .user-dashboard .header-rightside .header-top img {
  max-width: 41px !important;
  } 
  .user-dashboard .sales button {
  font-size: 10px;
  }
  .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
  font-size: 12px;
  }
  .user-dashboard .sales h2 {
  font-size: 15px;
  }
  }
  @media only screen and (min-device-width:998px) and (max-device-width: 1350px){
  #navigation .logo img {
  max-width: 130px;
  padding: 16px 0 17px;
  width: 100%;
  }
  }
  
  
  
  
      /* css dasbord main */
      
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
  }
  
  .text-primary {
    color: #666666;
  }
  
  .text-blue {
    color: #246dec;
  }
  
  .text-red {
    color: #cc3c43;
  }
  
  .text-green {
    color: #367952;
  }
  
  .text-orange {
    color: #f5b74f;
  }
  
  .font-weight-bold {
    font-weight: 600;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
  }
  
  
  /* ---------- HEADER ---------- */
  
  .header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .menu-icon {
    display: none;
  }
  
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
  }
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #9799ab;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-title > p {
    font-size: 20px;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .card:first-child {
    border-left: 7px solid #246dec;
  }
  
  .card:nth-child(2) {
    border-left: 7px solid #f5b74f;
  }
  
  .card:nth-child(3) {
    border-left: 7px solid #367952;
  }
  
  .card:nth-child(4) {
    border-left: 7px solid #cc3c43;
  }
  
  .card > span {
    font-size: 20px;
    font-weight: 600;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > p {
    font-size: 18px;
  }
  
  .card-inner > span {
    font-size: 35px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .charts-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
  }
  
  
  /* ---------- SCROLLBARS ---------- */
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4f35a1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a5aaad;
  }
  
  
  /* ---------- MEDIA QUERIES ---------- */
  
  
  /* Medium <= 992px */
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "header"
        "main";
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  
  /* Small <= 768px */
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  @media screen and (max-width: 576px) {
    .header-left {
      display: none;
    }
  }
  
  /* journal table  css*/
  body {
    font-family: Arial, sans-serif;
    background-color: teal;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .totals {
    margin-top: 20px;
    color:white;
    font-size: large;
  }
  
  button {
    margin-top: 10px;
  }
  /* CSS for Compte de Résultat */
  .compte-resultat-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .compte-resultat-content .info {
    margin-left: 10px;
  }
  
  .compte-resultat-content .title {
    font-weight: bold;
    font-size: 16px;
  }
  
  .compte-resultat-content .amount {
    font-size: 20px;
  }
  
  .compte-resultat-content .revenue,
  .compte-resultat-content .expenses,
  .compte-resultat-content .taxes,
  .compte-resultat-content .profit,
  .compte-resultat-content .loss {
    display: flex;
    align-items: center;
  }
  
  .compte-resultat-content .revenue {
    color: #006400;
  }
  
  .compte-resultat-content .expenses,
  .compte-resultat-content .taxes,
  .compte-resultat-content .profit {
    color: #FFC312;
  }
  
  .compte-resultat-content .loss {
    color: red;
  }
  /* End CSS for Compte de Résultat */
  
  
    /* CSS Founisseur room Styles */
    #messageForm {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      margin-bottom : 20px;
  }
  
  .inputWithIcon {
      position: relative;
      margin-bottom: 40px; /* Add margin between input fields */
  }
  
  .inputWithIcon input[type="number"],
  .inputWithIcon input[type="text"],
  .inputWithIcon select {
      padding-left: 30px;
      width: calc(100% - 60px); /* Adjust width to accommodate icon */
      height: 50px; /* Set height */
      border: 1px solid #FFC312; /* Add border for better visibility */
      border-radius: 5px; /* Add border radius for style */
  }
  
  .inputWithIcon i {
      position: absolute;
      left: 10px;
      top: 40%;
      transform: translateY(-50%); /* Vertically center the icon */
      color: #FFC312; /* Color the icon */
  }
  
  #sendMessageButton {
      background-color: #FFC312;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      width: calc(100% - 60px);
  }
  
  #sendMessageButton:hover {
      background-color: teal;
  }
  
  /* Font Awesome Icon Styles */
  .fa-paper-plane {
      margin-right: 5px;
  }
  
   /* End CSS Founisseur room Styles */
   
   
   /*  CSS setting Styles */
   
   .settings-content {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 100%;
     
    }
    .setting-option {
      text-align: center;
      margin: 20px;
    }
    .setting-option .setting-icon {
      display: block;
      margin: 0 auto 10px;
      color: #FFC312;
    }
    .setting-option p {
      font-size: 16px;
      font-weight: bold;
    }
  
    /* End CSS setting Styles */
  
  
    /*  CSS compte resultat Styles */
  
  #financial-table {
      width: 100%;
      border-collapse: collapse;
      background-color:#f2f2f2 ;
  }
  
  #financial-table th, #financial-table td {
      border: 2px solid black;
      padding: 8px;
      text-align: left;
  }
  
  #financial-table th {
      background-color: #FFC312;
  }
  
  #financial-table .section-header {
      font-weight: bold;
      background-color: #f2f2f2;
  }
  
    /* End CSS compte resultat Styles */
  