

  body {
      font-family: Arial, sans-serif;
      background-color: teal;
      direction: ltr;
  }

  .container {
      width: 70%;
      margin: auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .stepper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  }

  .step {
      text-align: center;
      flex: 1;
  }

  .step-icon {
      width: 50px;
      height: 50px;
      background: #f1f1f1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      color: #999;
  }

  .step.active .step-icon {
      background: #FFC312;
      color: #fff;
  }

  .step p {
      margin-top: 10px;
      color: #999;
  }

  .step.active p {
      color: #FFC312;
  }

  .form-step {
      display: none;
  }

  .form-step-active {
      display: block;
  }

  input,
  select {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: right;
  }

  button {
      background: #FFC312;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 10px;
  }

  button:hover {
      background: teal;
  }

  img {
      display: block;
      margin: 5px auto;
      width: 120px;
      height: 120px;
      border: 5px solid #FFC312;
      border-radius: 20%;
      overflow: hidden;
  }

  a {
    text-decoration: none; /* Supprime le soulignement */
    outline: none; /* Supprime le contour */
  }
  
  a:focus,
  a:active {
    outline: none; /* Supprime le contour */
    border: none; /* Supprime la bordure */
  }
  
  a:hover {
    text-decoration: none; /* Supprime le soulignement au survol */
    color: teal; /* Change la couleur du texte au survol */
    
    transform: scale(1.05); /* Augmente légèrement la taille au survol */
    transition: transform 0.2s, background-color 0.2s; /* Ajoute une transition douce */
  }